body {
  font-size: 20px;
}

.info-log {
  color: black;
}

.error-log {
  color: red;
  font-weight: 600;
}

#portKnock-dialog {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(221, 221, 221, 0.5);
}

#portKnock-dialog dialog {
  border: 1px solid rgba(0, 0, 0, 0.548);
  border-radius: 5px;
}

#portKnock-dialog:not(.open) {
  display: none;
}

.input-container {
  border-bottom: 1px solid #00000096;
  color: #00000096;
  margin: 0 0 0 10px;
  font-size: 30px;
  padding: 3px;
}

.label {
  user-select: none;
}

.input {
  border: 0px;
  font-size: 25px;
  color: #00000096;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
